<main class='flex flex-col min-h-screen justify-center items-center'>
  <h1 class='text-5xl font-bold text-pink-500 pb-2'>{{title}}</h1>
  <p
    class='text-xs uppercase tracking-widest text-slate-600 mb-4'
  >{{content}}</p>
  {{#if data.error}}
    <pre>{{data.error}}</pre>
  {{/if}}
  {{#if data.people}}
    <div class='flex flex-wrap w-full justify-center bg-gray-900'>
      <div class='w-full grid grid-cols-1 md:grid-cols-3'>
        {{#each data.people}}
          {{#each this}}
            {{#if this.firstName}}
              <a href='/api/v1/people/{{this._id}}'>
                <div class='m-4 p-4 min-w-1/4 border border-gray-300'>
                  <h3 class='text-3xl text-white'>{{firstName}}
                    {{lastName}}</h3>
                  <p class='text-gray-200 mb-2'>{{email}}</p>
                  <p class='text-pink-300'>age: {{age}}</p>
                  <p class='text-pink-300'>posts: {{posts.length}}</p>
                  <p class='text-pink-300'>comments: {{comments.length}}</p>
                </div>
              </a>
            {{/if}}
          {{/each}}
        {{/each}}
      </div>

    </div>
  {{/if}}
</main>